[Unit]
Description= samplesite - The main samplesite process

[Service]
Type=simple
User=root
WorkingDirectory=/usr/share/samplesite
ExecStart=/usr/bin/gunicorn --bind=0.0.0.0:8080 --workers=4 samplesite.wsgi --time 3600

[Install]
WantedBy=multi-user.target